
@{
    ViewData["Title"] = "Thông tin Member";
}

<h1>Thông tin Member</h1>
<hr/>
<div class="alert alert-success">
    <p>Member ID: @ViewBag.member.MemberId</p>
    <p>UserName: @ViewBag.member.UserName</p>
    <p>Password: @ViewBag.member.Password</p>
    <p>FullName: @ViewBag.member.FullName</p>
    <p>Email: @ViewBag.member.Email</p>
</div>

